{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}
    {# PAGE CONTENT #}
    <div class="row row-1">
        <div class="col-9">
            <img src="/images/body/pub guitare.png" alt="publicité guitare" class="img-1">
            <img src="/images/body/pub guitare bouton blanc.png" alt="bouton blanc"  class="img-2">
        </div>
        <div class="col-3">
            <img src="/images/body/banniere droite prix.png" alt="banniere"  class="img-3">
        </div> 
    </div>

    <div class="row-2"> 
        <img src="/images/body/banniere centre 4 pictos.png" alt="banniere">
    </div>

    <div class="row-3">
        <h3> Nos catégories </h3> 
    </div>

    <div class="row-4 flexible-image"> 
        <img src="/images/body/CATEGORIES guitare.png" alt="guitare"> 
        <img src="/images/body/CATEGORIES batterie.png" alt="batterie"> 
        <img src="/images/body/CATEGORIES piano.png" alt="piano"> 
        <img src="/images/body/CATEGORIES micro.png" alt="micro"> 
    </div>

    <div class="row-4 flexible-image">
        <img src="/images/body/CATEGORIES sono.png" alt="sono"> 
        <img src="/images/body/CATEGORIES cases.png" alt="cases"> 
        <img src="/images/body/CATEGORIES cable.png" alt="cable"> 
        <img src="/images/body/CATEGORIES saxo.png" alt="saxo">   
    </div>

    <div class="row row-3 mb-0">
        <div class="col-6"> <h3> Meilleures ventes </h3> </div>
        <div class="col-6"> <h3> Nos partenaires </h3> </div>
    </div>

    <div class="row-5 flexible-image">
        <img src="/images/body/TOP VENTES guitare.png" alt="tv_guitare"> 
        <img src="/images/body/TOP VENTES saxo.png" alt="tv_saxo"> 
        <img src="/images/body/TOP VENTES piano.png" alt="tv_piano">
        <img src="/images/body/partenaires 4 logos.png" alt="partenaires">  
    </div>
{% endblock %}

