{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Nouvelle catégorie</h1>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-10">
                {{ include('categories/_form.html.twig') }}
                
                <div class="my-5"> <a href="{{ path('categories_index') }}">back to list</a> </div>
            </div>   
        </div>
    </div>
{% endblock %}


